.effectiveArea {
    display: flex;
    flex-direction: column;
    background-color: #000;
    width: 80vw;
    height: 66vh;
    margin: auto;
    padding: min(2.56vw, 39px) 0;
    align-items: center;
}