.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
    align-items: center;
}

.containerElements { 
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    width: 100%;
    height: calc(35vw - min(2.56vw, 39px));
    padding: min(2.56%, 39px) 0;
}



/* SEARCH BAR STYLES */

.searchBarContainer {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: min(2.29vw, 33px);
}

.searchBarInput {
    width: min(32.50vw, 467px);
    border: 1px solid var(--grayBorderColor);
    border-radius: 10px;
    padding: min(1.25vw, 18px);
    font-size: clamp(1rem, 1.3vw, 1.42rem);
    font-weight: 600;
}

.searchBarButton {
    position: absolute;
    right: 0;
    height: 100%;
    background-color: var(--primaryColor);
    border: 1px solid var(--grayBorderColor);
    border-radius: 10px;
    padding: 0 min(0.83vw, 12px);
    transition: all ease-in-out 0.25s;
}

.searchBarButton:hover {
    background-color: var(--secundaryColor);
}

.searchBarButtonIcon {
    font-family: 'Material Symbols Rounded';
    font-size: clamp(1rem, 2.8vw, 2.8rem);
    color: #FFF;
}