:root {
    --primaryColor: #005CFF;
    --secundaryColor: #498afc;
    --backgroundVariantColor: #D9D9D9;
    --errorColor: #FF0000;

    --grayBorderColor: #DDDDDD;
    --grayBackgroundColor: #1F1F1F;

    background-color: var(--grayBackgroundColor);
}

* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  img {
    max-width: auto;
  }
