.squaresBg {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 175px;
    width: 200px;
    height: 200px;
}

.spotLightTop {
    position: absolute;
    z-index: 0;
    right: -125px;
    bottom: 475px;
    width: 500px;
    height: 500px;
    background: radial-gradient(closest-side, rgba(0, 92, 255, 0.8) 0%, rgba(0, 0, 0, 0) 70%);
}

.spotLightBottom {
    position: absolute;
    z-index: 0;
    left: -350px;
    bottom: 150px;
    width: 500px;
    height: 500px;
    background: radial-gradient(closest-side, rgba(0, 92, 255, 0.8) 0%, rgba(0, 0, 0, 0) 70%);
}

@media (min-width:920px){
    .squaresBg {
        left: 70px;
        top: 150px;
        width: 225px;
        height: 255px;
    }
    
    .spotLightTop {
        right: -200px;
        bottom: 270px;
        width: 878px;
        height: 878px;
    }
    
    .spotLightBottom {
        left: -570px;
        bottom: -40px;
        width: 878px;
        height: 878px;
    }
}